.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    padding: 15px;
    mat-card{
        .mat-card-title{
            font-size: 17px;
            
        }
    }
}
.danger {
    color: #d74c48;
}
.success {
    color: #199e0e;
}