<mat-toolbar>
    <span>My Forms</span>
    <span class="spacer"></span>
    <button mat-raised-button color="primary">
        <mat-icon>add</mat-icon>
        <span>New Registration Form</span>
    </button>
</mat-toolbar>

<mat-tab-group #tabGroup mat-align-tabs="center" class="mt-4">
    <mat-tab>
        <ng-template mat-tab-label>
            <span class="incomplete danger">Incomplete</span>
        </ng-template>
        <div class="grid-container">
            <mat-card>
                <mat-card-title>K12 Open Registration</mat-card-title>
                <mat-card-subtitle>John Doe</mat-card-subtitle>
                <mat-card-actions>
                    <button mat-button color="warn">Delete</button>
                    <button mat-button color="primary">Resume</button>
                </mat-card-actions>
            </mat-card>
            <mat-card>
                <mat-card-title>K13 Open Registration</mat-card-title>
                <mat-card-subtitle>John Doe</mat-card-subtitle>
                <mat-card-actions>
                    <button mat-button color="warn">Delete</button>
                    <button mat-button color="primary">Resume</button>
                </mat-card-actions>
            </mat-card>
            <mat-card>
                <mat-card-title>K14 Open Registration</mat-card-title>
                <mat-card-subtitle>John Doe</mat-card-subtitle>
                <mat-card-actions>
                    <button mat-button color="warn">Delete</button>
                    <button mat-button color="primary">Resume</button>
                </mat-card-actions>
            </mat-card>
            <mat-card>
                <mat-card-title>K15 Open Registration</mat-card-title>
                <mat-card-subtitle>John Doe</mat-card-subtitle>
                <mat-card-actions>
                    <button mat-button color="warn">Delete</button>
                    <button mat-button color="primary">Resume</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </mat-tab>
    <mat-tab label="Complete">
        <ng-template mat-tab-label>
            <span class="complete success" >Complete</span>
        </ng-template>

        <div class="grid-container">
            <mat-card>
                <mat-card-title>K12 Open Registration</mat-card-title>
                <mat-card-subtitle>
                    John Doe |
                    <span class="success">Submitted : 03/03/2022</span>
                </mat-card-subtitle>
                <mat-card-actions>
                    <button mat-button color="warn" [disableRipple]="true">Pending review</button>
                    <button mat-button color="primary">Add Documents</button>
                </mat-card-actions>
            </mat-card>
            <mat-card>
                <mat-card-title>K12 Open Registration</mat-card-title>
                <mat-card-subtitle>John Doe</mat-card-subtitle>
                <mat-card-actions>
                    <button mat-button class="success" [disableRipple]="true">Registration Approved</button>
                    <button mat-button color="primary">Resume</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </mat-tab>
</mat-tab-group>